GO
USE [Reolmarkedet]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [varchar](75) NOT NULL,
	[EmployeePassword] [varchar](75) NOT NULL,
	[EmployeeName] [varchar](100) NULL,
 CONSTRAINT [PK_employeeID] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [varchar](75) NOT NULL,
	[ItemName] [varchar](255) NOT NULL,
	[ItemPrice] [decimal](18, 0) NOT NULL,
	[ItemDescription] [varchar](255) NOT NULL,
	[IsSold] [bit] NOT NULL,
	[Barcode] [int] NOT NULL,
	[ShelfID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ItemID] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonthlyReports](
	[ReportID] [varchar](20) NOT NULL,
	[RenterID] [varchar](20) NOT NULL,
	[ReportPeriod] [datetime2](7) NOT NULL,
	[Commission] [decimal](10, 2) NOT NULL,
	[Rent] [decimal](10, 2) NOT NULL,
	[MultipleShelvesDiscount] [decimal](10, 2) NOT NULL,
	[RenterBalance] [decimal](10, 2) NOT NULL,
	[ReportNote] [varchar](500) NULL,
	[ReportStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [varchar](75) NOT NULL,
	[PaymentMethod] [varchar](75) NOT NULL,
	[AmountPaid] [decimal](18, 0) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PaymentID] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Renter](
	[RenterID] [varchar](75) NOT NULL,
	[RenterName] [varchar](255) NOT NULL,
	[RenterEmail] [varchar](255) NOT NULL,
	[RenterPhone] [varchar](20) NOT NULL,
	[RenterAddress] [varchar](200) NULL,
 CONSTRAINT [PK_RenterID] PRIMARY KEY CLUSTERED 
(
	[RenterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [varchar](75) NOT NULL,
	[ItemID] [varchar](75) NOT NULL,
	[ItemName] [varchar](255) NOT NULL,
	[ItemPrice] [decimal](18, 0) NOT NULL,
	[PaymentID] [varchar](75) NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
	[EmployeeID] [varchar](75) NOT NULL,
 CONSTRAINT [PK_SaleID] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SalesShelves](
	[ShelfID] [varchar](50) NOT NULL,
	[SaleID] [varchar](75) NOT NULL,
 CONSTRAINT [PK_SalesShelves] PRIMARY KEY CLUSTERED 
(
	[ShelfID] ASC,
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shelves](
	[ShelfID] [varchar](50) NOT NULL,
	[RenterID] [varchar](75) NULL,
	[ShelfType] [int] NOT NULL,
	[ShelfStatus] [varchar](75) NOT NULL,
	[RentalStartDate] [datetime2](7) NULL,
	[CancellationDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ShelfID] PRIMARY KEY CLUSTERED 
(
	[ShelfID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Employees] ([EmployeeID], [EmployeePassword], [EmployeeName]) VALUES (N'JM001', N'J123', N'Jonas Møller')
INSERT [dbo].[Employees] ([EmployeeID], [EmployeePassword], [EmployeeName]) VALUES (N'ML001', N'M123', N'Mette Larsen')
INSERT [dbo].[Employees] ([EmployeeID], [EmployeePassword], [EmployeeName]) VALUES (N'SK001', N'S123', N'Sofie Kragh')
GO
INSERT [dbo].[Items] ([ItemID], [ItemName], [ItemPrice], [ItemDescription], [IsSold], [Barcode], [ShelfID]) VALUES (N'I_01', N'Paraply', CAST(120 AS Decimal(18, 0)), N'En flot Paraply', 1, 100001, N'15')
GO
INSERT [dbo].[MonthlyReports] ([ReportID], [RenterID], [ReportPeriod], [Commission], [Rent], [MultipleShelvesDiscount], [RenterBalance], [ReportNote], [ReportStatus]) VALUES (N'MR_01', N'1', CAST(N'2026-10-08T23:30:51.2866667' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), CAST(850.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(-850.00 AS Decimal(10, 2)), N'Du skylder penge', 1)
INSERT [dbo].[MonthlyReports] ([ReportID], [RenterID], [ReportPeriod], [Commission], [Rent], [MultipleShelvesDiscount], [RenterBalance], [ReportNote], [ReportStatus]) VALUES (N'MR_02', N'14', CAST(N'2026-10-09T00:08:58.7966667' AS DateTime2), CAST(0.00 AS Decimal(10, 2)), CAST(850.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(-850.00 AS Decimal(10, 2)), N'Desværre, meddeler vi, at du du skylder os x-kroner', 1)
GO
INSERT [dbo].[Payments] ([PaymentID], [PaymentMethod], [AmountPaid], [PaymentDate]) VALUES (N'P_01', N'Kontant', CAST(120 AS Decimal(18, 0)), CAST(N'2026-10-08T23:25:43.1300000' AS DateTime2))
GO
INSERT [dbo].[Renter] ([RenterID], [RenterName], [RenterEmail], [RenterPhone], [RenterAddress]) VALUES (N'1', N'Testlejer 1', N'testlejer1@test.dk', N'00000000', NULL)
INSERT [dbo].[Renter] ([RenterID], [RenterName], [RenterEmail], [RenterPhone], [RenterAddress]) VALUES (N'10', N'Testlejer 10', N'testlejer10@test.dk', N'00000000', NULL)
INSERT [dbo].[Renter] ([RenterID], [RenterName], [RenterEmail], [RenterPhone], [RenterAddress]) VALUES (N'11', N'Testlejer 11', N'testlejer11@test.dk', N'00000000', NULL)
GO
INSERT [dbo].[Sales] ([SaleID], [ItemID], [ItemName], [ItemPrice], [PaymentID], [SaleDate], [EmployeeID]) VALUES (N'S_01', N'I_01', N'Paraply', CAST(120 AS Decimal(18, 0)), N'P_01', CAST(N'2026-10-08T23:25:43.1566667' AS DateTime2), N'SK001')
GO
INSERT [dbo].[SalesShelves] ([ShelfID], [SaleID]) VALUES (N'15', N'S_01')
GO
INSERT [dbo].[Shelves] ([ShelfID], [RenterID], [ShelfType], [ShelfStatus], [RentalStartDate], [CancellationDate]) VALUES (N'1', N'7', 1, N'Udlejet', CAST(N'2026-10-09T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Shelves] ([ShelfID], [RenterID], [ShelfType], [ShelfStatus], [RentalStartDate], [CancellationDate]) VALUES (N'10', N'R_16', 1, N'Udlejet', CAST(N'2026-10-09T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Shelves] ([ShelfID], [RenterID], [ShelfType], [ShelfStatus], [RentalStartDate], [CancellationDate]) VALUES (N'11', N'1', 1, N'Udlejet', CAST(N'2026-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-10-08T13:30:22.8400000' AS DateTime2))
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_ShelfID] FOREIGN KEY([ShelfID])
REFERENCES [dbo].[Shelves] ([ShelfID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_ShelfID]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_EmployeeID]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_ItemID] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_ItemID]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_PaymentID] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_PaymentID]
GO
ALTER TABLE [dbo].[SalesShelves]  WITH CHECK ADD  CONSTRAINT [FK_SalesShelves_SaleID] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
GO
ALTER TABLE [dbo].[SalesShelves] CHECK CONSTRAINT [FK_SalesShelves_SaleID]
GO
ALTER TABLE [dbo].[SalesShelves]  WITH CHECK ADD  CONSTRAINT [FK_SalesShelves_ShelfID] FOREIGN KEY([ShelfID])
REFERENCES [dbo].[Shelves] ([ShelfID])
GO
ALTER TABLE [dbo].[SalesShelves] CHECK CONSTRAINT [FK_SalesShelves_ShelfID]
GO
ALTER TABLE [dbo].[Shelves]  WITH CHECK ADD  CONSTRAINT [FK_RenterID] FOREIGN KEY([RenterID])
REFERENCES [dbo].[Renter] ([RenterID])
GO
ALTER TABLE [dbo].[Shelves] CHECK CONSTRAINT [FK_RenterID]
GO
USE [master]
GO
